html {
  font-size: 10px;
  background: url('./theLake.jpg') bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid rgb(204, 26, 100);
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .09s ease;
  width: 10rem;
  text-align: center;
  color: rgba(24, 184, 233, 0.952);
  background: rgba(59, 47, 47, 0.4);
  text-shadow: 0 0 .5rem rgb(90, 25, 25);
}

.playing {
  transform: scale(1.1);
  border-color: #c4d812;
  box-shadow: 0 0 1rem #b7d411;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #c8ff00;
}
